select:focus, button:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
  }

input:focus {
    outline-color: #EC362D;
}

button {
    cursor: pointer;  
}

button:active {
    filter: brightness(1.2);
}

.criacao-quiz {
    width: 100%;
    max-width: 600px;
    height: 100%;
    background-color: #fafafa;
    margin: 69px auto; 
}

.etapa-de-criacao {
    width: 100%;
    height: 100%;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.etapa-de-criacao div {
    width: 100%;
}

.titulo-da-etapa {
    width: 100%;
    margin: 60px auto 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    font-weight: 700;
    color: #000;
}

.entrada-de-dados, .entrada-de-perguntas, .entrada-de-niveis {
    width: 100%;
    height: auto;
    padding: 21px 18px 16px 18px;
    margin-top: 25px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.entrada-de-dados span, .entrada-de-perguntas span, .entrada-de-niveis span {
    width: 100%;
    font-size: 20px;
    font-weight: 700;
    padding: 16px 0 14px 0;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.entrada-de-dados span:first-child, 
.entrada-de-perguntas span:first-child, 
.entrada-de-niveis span:first-child{
    padding: 7px 0 14px 0;
}

.entrada-de-dados div, .entrada-de-perguntas div, .entrada-de-niveis div{
    width: 100%;
}

.caixa-perguntas, .resposta-correta, .respostas-incorretas, .niveis {
    display: flex;
    flex-direction: column;
}

.caixa-repostas-incorretas {
    width: 100%;
}

.respostas-incorretas input:nth-child(even) {
    margin-bottom: 32px;
}

.respostas-incorretas:last-child input:last-child {
    margin-bottom: 12px;
}

.entrada-de-dados input, .entrada-de-perguntas input, .entrada-de-niveis input {
    width: 100%;
    max-width: 564px;
    height: 46px;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    font-size: 19px;
    font-style: italic;
    color: #000;
    padding-left: 23px;
    margin-bottom: 12px;
}

.expandir-pergunta, .expandir-nivel {
    font-size: 23px;
    color: #fff;
}

.visivel {
    color: #000;
}

.container-imagem-sucesso {
    width: 100%;
    padding-left: 18px;
    padding-right: 18px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.imagem-quiz {
    width: 100%;
    max-width: 536px;
    margin-top: 21px;
    border-radius: 5px;
    position: relative;

}

.etapa-de-criacao img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 65.1%, #000000 100%); 
}

.etapa-de-criacao .titulo-imagem {
    font-size: 23px;
    line-height: 26.95px;
    position: absolute;
    left: 41px;
    bottom: 14px;
    font-weight: 300;
    color: #fff;
}

.etapa-de-criacao button {
    width: auto;
    height: 54px;
    padding-left: 50px;
    padding-right: 50px;
    border: none;
    border-radius: 15px;
    text-align: center;
    font-size: 21px;
    margin-left: 18px;
    margin-right: 18px;
}

.botao {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.avancar{
    background: #ec362d;
    color: #FFF5F4;
    margin-top: 75px;
}

.avancar:hover {
    background-color: rgb(236, 54, 45, 0.8);
    filter: brightness(1.2);
}

.voltar {
    margin-top: 9px;
    background: #fff;
    color: #818181;
}

.voltar:hover {
    background-color: rgb(255, 245, 244, 0.8);
    filter: brightness(1.2);
}

@media(max-width: 1100px) {
    .titulo-da-etapa {
        margin: 35px auto 4px auto;
        font-size: 20px;
    }

    .entrada-de-dados input, .entrada-de-perguntas input, .entrada-de-niveis input {
        padding-left: 14px;
        font-size: 14px;
    }

    .imagem-quiz {
        margin-bottom: 0px;
    }
    
    .etapa-de-criacao .titulo-imagem {
        font-size: 19px;
    }

    .etapa-de-criacao button {
        font-size: 18px;
        padding-left: 35px;
        padding-right: 35px;
    }

    .avancar{
        margin-top: 50px;
    }
}
