body {
    background-color: #FAFAFA;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}

.topo {
    width: 100%;
    height: 69px;
    background: #EC362D;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.topo span {
    font-weight: 700;
    font-size: 37px;
    color: #fff;
    line-height: 43.36px;
}

/* Página principal */
.pagina-principal {
    width: 100%;
    max-width: 1051px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 69px auto; 
}

.inserir-quiz {
    width: 100%;
    height: 181px;
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px dashed #D5D5D5;
    border-radius: 5px;
    margin: 77px 0;
}

.inserir-quiz span {
    margin-bottom: 34px;
    text-align: center;
    font-weight: 300;
    font-size: 20px;
    color: #B9B9B9;
}

.inserir-quiz button {
    background-color: #fafafa;
    width: 151px;
    height: 40px;
    font-size: 21px;
    color: #EC362D;
    border: 1px dashed #EC362D;
    border-radius: 50px;
}

.seus-quizes {
    width: 100%;
    margin-top: 138px;
    font-weight: 700;
    font-size: 20px;
    color: #000;
    display: flex;  
    flex-direction: column;
    align-items: flex-start;    
    justify-content: space-between;         
}

.titulo-seus-quizes {
    width: 100%;  
    display: flex;
    align-items: center;
}

ion-icon {
    color: #EC362D;
    font-size: 30px;
    margin-left: 10px;
}

.seus-quizes ul {
    display: flex;
    justify-content: space-between; 
    margin-top: 12px;  
    margin-bottom: 48px;    
}

.seus-quizes li {
    width: 340px;
    height: 181px;
    border-radius: 5px;
    position: relative;
    margin-right: 15px;
}

.seus-quizes li:last-child {
    margin-right: 0px;
}

.todos-quizes {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;      
}

.titulo-quizes, .titulo-seus-quizes {
    width: 100%;
    color: #000;
    font-weight: 700;
    font-size: 20px;
    line-height: 23.44px;
}

.todos-quizes ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;  
    margin-top: 12px; 
}

.todos-quizes ul li{
    width: 340px;
    height: 181px;
    border-radius: 5px;
    position: relative;
}

li img {
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 65.62%, rgba(0, 0, 0, 0.8) 100%);
}

.titulo-imagem {
    font-size: 19px;
    line-height: 22.27px;
    position: absolute;
    left: 17px;
    bottom: 14px;
    font-weight: 300;
    color: #fff;
}

.escondido {
    display: none !important;
}

/* Página 2 - Página de um quizz */

.banner-quiz {    
    width: 100%; 
    margin-top: 69px; 
    height: 227px;    
    position: relative;
}

.banner-titulo {           
    top: 35%;
    bottom: 50%;    
    left: 25%;
    right: 25%;    
    color: #FFFFFF;
    font-weight: 400;
    font-size: 39px;      
    text-align: center; 
    position: absolute;
    margin: 0;  
    min-width: 50px; 
}

.banner-quiz img {
    width: 100%;    
    height: 100%;
    max-height: 227px;        
}

.quiz-pergunta, .quiz-acerto {
    width: 750px;
    height: 676px;
    margin: 0 auto;
    margin-bottom: 50px;
    padding: 35px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);    
}

.header-pergunta {
    width: 100%;
    height: 138px;
    background-color: #434CA0;        
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.header-pergunta span {
    color: #FFFFFF;
    font-size: 23px; 
    font-weight: 700;  
    text-align: center;  
    margin: 0 auto;
}

.opcoes {
    display: flex;
    flex-wrap: wrap;
}

.opcao {
    width: 332px;    
    display: flex;
    flex-direction: column;    
}

.opcao span {
    margin: 8px 0 15px 0;   
    color: #000000;
    font-weight: 700;  
}

.opcao:nth-child(1), .opcao:nth-child(3){
    margin-right: 15px;
}

.quiz-acerto {
    height: 440px;
}

.quiz-acerto .header-pergunta {
    background: #EC362D;
    height: 100px;

}

.quiz-acerto .opcao span {
    width: 328px;   
    font-size: 19px;
    line-height: 25px; 
    text-align: left;
    color: #484848;    
}

.reiniciar-quiz {
    font-family: 'Roboto';
    width: 260px;
    height: 52px;
    background-color: #EC362D;
    border-radius: 15px;
    font-size: 18px;
    color: #FFF5F4;
    border: none;
}

.voltar-home {
    margin-top: 20px;
    font-family: 'Roboto';
    width: 260px;
    height: 52px;
    background-color:#FFF;
    border-radius: 15px;
    font-size: 18px;
    color: #818181;
    border: none;
}



@media(max-width: 1100px) {
    .pagina-principal {
        padding: 0 18px;        
    }

    .inserir-quiz {
        margin: 35px 0 31px 0;
    }

    .todos-quizes ul {
        flex-direction: column;
    }
    
    .todos-quizes ul:last-child {
        margin-top: 0;
    }

    .todos-quizes span {
        width: 100%;
        max-width: 340px;
    }

    .todos-quizes ul li{
        width: 100%;
        max-width: 340px;
        height: 181px;
        border-radius: 5px;
        margin-bottom: 14px;       
        position: relative;
    }

    .escondido {
        display: none;
    }

    .seus-quizes {
        width: 100%;
        max-width: 340px;
        margin: 38px 0 38px 0;        
    }

    .seus-quizes ul {
        flex-direction: column;
        margin-bottom: 0px;
    }    

    .seus-quizes li {
        margin-bottom: 14px;
    }

    .seus-quizes li:last-child {
        margin-bottom: 0px;
    }

    .titulo-seus-quizes {
        justify-content: space-between;
    }

    .quiz-pergunta {
        width: 100%;    
        height: 100%; 
        min-height: 520px; 
    }
    
    .opcoes {
        height: 236px; 
    }

    .opcao { 
        width: 48%;
        height: 135px;     
        margin-bottom: 20px;   
    }  
    
    .quiz-acerto {
        width: 100%;    
        height: 100%;       
    }
    
    .quiz-acerto .opcoes {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        height: auto;
    }

    .quiz-acerto .opcao {
        width: 100%;
        height: 100%;
    }

    .quiz-acerto .opcao:nth-child(1) {        
        width: 100%;
    }    
    
    .quiz-acerto .opcao span {
        width: 100%;
    }

    .reiniciar-quiz, .voltar-home {
        width: 220px;
        height: 44px;
    }   

}